<!-- teacher_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
</head>
<body>
    <h1>Welcome to the Teacher Dashboard</h1>

    <nav>
        <ul>
            <li><a href="{{ url_for('create_assignment') }}">Create Assignment</a></li>
            <li><a href="{{ url_for('view_assignments') }}">View Assignments</a></li>
            <li><a href="{{ url_for('view_all_student_marks') }}">View Student Marks</a></li>
            <li><a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a></li>
            <!-- Add more links for additional functionalities as needed -->
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
